:root {
    --main-color: #2A2550;
    --secondary-color: #df3627;
    --heading-font: 'Playfair Display', serif;
    --main-font: 'Roboto Slab', serif;
}
@media (max-width: 576px) {
    .prj {
        display: none;
    }
    h4 {
        text-align: center;
        font-size: 24px;
    }
    p {
        text-align: center;
    }
    .learn-more {
        display: block;
        margin: 0 auto;
        max-width: 170px;
    }
    .name {
        text-align: center;
        font-size: 40px;
    }
    .subtitle {
        font-size: 19px;
    }
    .entrance-name {
        text-align: center;
    }
    .about-paragraph {
        text-align: center;
    }
    .sbh {
        text-align: center;
    }
    .your-contacts {
        text-align: center;
    }
    .submit-btn {  
      display: block;
      margin: 0 auto;
        }
}
.logo {
    max-width: 150px;
}
.hero {
    background: var(--main-color);
    color: #FDF6EC;
}
h1, h2, h3 {
    text-align: center;
    font-family: var(--heading-font);
 }
h2 {
    padding-top: 70px;
}
h1 {
    font-size: 60px;
}
h3 {
    font-size: 24px;
    padding-bottom: 70px;
}
h4 {
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-weight: 500;
}
h5 {
    text-align: center;
    margin: 50px 0px;
    font-size: 24px;
}
h6 {
    color: var(--main-color);
    margin: 50px 0px;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 600;
}
p {
font-family: var(--main-font);
font-size: 16px;
}
.row {
    margin: 60px 0px;
}
.weather-app {
    border: 10px solid #fff;
}
.music-app {
    border: 10px solid #fff;
}
.home {
    max-width: 950px;
}
.learn-more {
    padding: 10px 20px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-weight: 600;
    border-radius: 10px;
    background: #fff;
    margin-top: 20px;
}
 .learn-more:hover {
    color: #fff;
    background: var(--secondary-color);
    transition: ease-in-out 200ms;
 }
 .subheading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-style: italic;
    color: var(--main-color);
    text-decoration: underline;
 }
 .fa-github {
    font-size: 28px;
    border: 10px solid transparent;
    border-radius: 50%;
    background-color: #b4abeb4d;
 }
 .fa-github:hover {
    background-color: var(--main-color);
 }
 .git-icon {
    color: var(--main-color);
 }
 .git-icon:hover {
    color: #fff;;
 }
 .inst-icon {
    color: var(--main-color);
 }
 .inst-icon:hover {
    color: #fff;
 }
 .fa-instagram {
    font-size: 28px;
    border: 10px solid transparent;
    border-radius: 50%;
    background-color: #b4abeb4d;
 }
 .fa-instagram:hover {
    background-color: var(--main-color);
 }
 .git-inst {
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
 }
 .about-page {
    max-width: 1000px;
 }
 .valeria {
    border: 10px solid #fff;
 }
 .entrance-name {
    font-family: var(--heading-font);
    font-size: 36px;
    font-weight: 700;
    color: var(--main-color);
 }
 .about-paragraph{
    font-family: var(--main-font);
    font-size: 20px;
 }
 .sbh {
    margin: 20px 0px;
 }
 .about-btn {
    margin: 30px 0px;
    padding: 10px 20px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-weight: 600;
    border-radius: 10px;
    background: #fff;
 }
 .about-btn:hover {
    color: #fff;
    background: var(--secondary-color);
    transition: ease-in-out 200ms;
 }
 .about-work {
    background: var(--main-color);
 }
 .wrk {
    margin-top: 10px;
 }
 .work-inquiry {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 24px;
    margin: 18px 0px 8px 0px;
    text-align: right;
 }
 .lets-work {
    color: #fff;
    font-family: var(--main-font);
    opacity: 0.7;
    text-align: right;
 }
 .contact-btn {
    margin: 30px 0px 30px 0px;
    padding: 10px 20px;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    border-radius: 10px;
    background: var(--main-color);
 }
 .contact-btn:hover {
    background: #fff;
    color: var(--main-color);
    transition: ease-in-out 200ms;
 }
 .recent {
    background: var(--main-color);
    color: #FDF6EC;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: var(--heading-font);  
 }
 .projects {
    font-family: var(--main-font);
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    color: var(--main-color);
    margin-top: 30px;
 }
 .language-one {
    text-align: center;
    font-family: var(--main-font);
    opacity: 0.7;
    margin: 20px 0px 45px 0px;
 }
 .language-two {
     text-align: center;
     font-family: var(--main-font);
     opacity: 0.7;
     margin: 20px 0px;
 }
 .launch-one {
      display: block;
      margin: 0 auto;
        padding: 10px 20px;
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        font-weight: 600;
        border-radius: 10px;
        background: #fff;
 }
 .launch-one:hover {
    color: #fff;
        background: var(--secondary-color);
        transition: ease-in-out 200ms;
 }
 .launch-two {
    display: block;
    margin: 0 auto;
        padding: 10px 20px;
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        font-weight: 600;
        border-radius: 10px;
        background: #fff;
 }
 .launch-two:hover {
    color: #fff;
        background: var(--secondary-color);
        transition: ease-in-out 200ms;
 }
 .launches {
    color: var(--secondary-color);
    text-decoration: none;
 }
 .launches:hover {
    color: #fff;
 }
 .lnch {
    margin: 10px 0px;
 }
 .see {
    margin: 40px
 }
 label {
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
 }
 .email-input {
    width: 100%;
    margin-bottom: 20px;
 }
 .text {
    width: 100%;
    margin-bottom: 20px;
 }
 .contact-page {
    max-width: 700px;
    margin-top: 60px;
 }
 .submit-btn {
        padding: 10px 40px;
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        font-weight: 600;
        border-radius: 10px;
        background: #fff;
 }
 .submit-btn:hover {
    color: #fff;
    background: var(--secondary-color);
 }
 .cnt-page {
    color: #FDF6EC;
    background: var(--main-color);
    padding: 40px 0px;
 } 