.logo {
    max-width: 150px;
}
.hero {
    background: #2A2550;
    color: #FDF6EC;
}
h1, h2, h3 {
    text-align: center;
}
h2 {
    padding-top: 70px;
}
h1 {
    font-size: 60px;
}
h3 {
    font-size: 24px;
    padding-bottom: 70px;
}